@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font2);
}

.tel-header {
    font-size: 18px;
}

header {
    background-image: url(imagens/imagem02.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    height: 300px;
    text-align: center;
    color: white;
}

header div  h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}

main h4 {
    height: 40px;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 12px;
    
}

.cards {
    margin-top: 15px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    border: 3px solid black;
    padding: 0 0 20px 10px;
}

.banner-1 {
    background-image: url(imagens/imagem01.jpeg);
    width: 350px;
    height: 250px;
}

.banner-2 {
    background-image: url(imagens/imagem04.jpg);
    background-position: right;
    width: 350px;
    height: 250px;
}

.banner-3 {
    background-image: url(imagens/imagem05.jpg);
    width: 350px;
    height: 250px;
}

.banner-4 {
    background-image: url(imagens/imagem03.jpg);
    width: 350px;
    height: 250px;
    background-position: right center;
}

.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.video {
    background-color: black;
    width: 600px;
    padding: 20px;
    padding-bottom: 30%;
    position: relative;
    margin-top: 22px;
    border-radius: 10px;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

