@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font2);
}

header {
    background-color: rgba(0, 0, 0, 0.909);
    height: 300px;
    text-align: center;
    color: white;
}

header div  h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

main h4 {
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.banner-1 {
    background-image: url(./imagens/suculentas1.jpeg);
    width: 200px;
    height: 200px;
}

.banner-2 {
    background-image: url(./imagens/suculentas2.jpeg);
}